@{
    ViewData["Title"] = "Le easter egg";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Le minigame here</p>
    <a asp-area="" asp-controller="Home" asp-action="SkinSelector"> heheheh</a>
</body>
</html>